/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí.
2. Kích thước. (width heigth)
3. Màu sắc.
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
 */

#main {

}

#header {
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    position: fixed;
}

/* Do có tính chất block nên nó lấy hết chiều ngang 
mà nó có thể chiếm.
Đổi thành inline-block để dài đến đâu thì lấy đến đó */
#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

/* Do tính chất của block kế thừa chiều ngang, inline thì
không có. Sửa từ display inline thành block để nav 
có thể hover full. Hoặc tách ra đem len trên */
/* CSS này để những nav trên header  nằm ngang */
#nav li {
    
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px; /*Trên dưới 0 trái phải 24 */
    display: block; 
}
#nav li:hover .subnav {
    display: block;
}

/* Tác động ở cấp 1 */
#nav > li:hover > a,
#nav .subnav li:hover a { 
    color: #000;
    background-color: #ccc;
}

/* Thêm top left vào để chắc chắn luôn hiện chuẩn vị trí */
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

/* Float thì sẽ mất tính năng kế thừa chiếm toàn bộ c
chiều ngang */

#header .search-btn {
    float: right;
    padding: 0 21px;   
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* Margin top bằng chiều cao của header
để positon fixed không chiếm nó */

/* padding top 50% = 50% chiều ngang của chính nó, đây là tỉ lệ 2:1 */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider.jpg') top center / cover  no-repeat;
    /* Size cover norepeat */
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%);
     Cách center 1*/
    /* left:0; right: 0; Cách center 2 */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

#footer {

}
